<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs')  %>
    <div class="about content">
        <h2>About Us</h2>
        <p>blah blah blah</p>
        <p>Blah Blah Blah</p>
        <p>blah Blah blah</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>